.h-screen{
height:70vh;
}
.adjust-pos{
	margin-top:5%;
}

.desktop {display: contents;}
.mobile {display: none;}
.bar_chart_css{
width:1000px;
height:300px;
}


@media screen and (max-width: 767px) {

.desktop {display: none;}
.mobile {display: block;}
.bar_chart_css{
width:auto !important;
height:auto !important;
}


}
@media (min-width: 640px) {
    table {
      display: inline-table !important;
    }
	.mobile_header{
	display:none;
	}
	
    thead tr:not(:first-child) {
      display: none;
    }
  }

 